.container {
  /* background: radial-gradient(ellipse at center, #56513e 0%, #000000 40%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  position: relative;
  font-size: 2.5rem;
  text-align: center;
  padding: 3rem 0rem;
  font-weight: 400;
}

.text::after {
  background: none;
  content: attr(data-heading) / "";
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow:
    -1px 0 1px #c6bb9f,
    0 1px 1px #c6bb9f,
    5px 5px 10px rgba(0, 0, 0, 0.4),
    -5px -5px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .text {
    font-size: 2.5rem;
  }
}

/* Style for the search bar input */
.searchBar {
  background: linear-gradient(to right, #56513e, #000000); /* Gradient similar to theme */
  color: white; /* White text to match the theme */
  padding: 0.5rem 1rem; /* Padding around the input */
  border: 1px solid #c6bb9f; /* Border color matching the shadow */
  border-radius: 8px; /* Rounded corners for consistency */
  font-size: 1rem; /* Adjust font size according to preference */
  font-weight: 400; /* Matching the text style */
  outline: none; /* Removes default outline on focus */
  width: 60%; /* 60% width to fit the page and remain centered */
  margin: 0 auto 50px; /* Centering the search bar and adding bottom margin */
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), /* Inner shadow effect */
              inset -2px -2px 5px rgba(255, 255, 255, 0.2); /* Subtle highlight effect */
}

.searchBar::placeholder {
  color: #c6bb9f; /* Placeholder text color matching the shadow */
}


